// ---------------------------------------------------
// Slider
// ---------------------------------------------------

.slider {
  &__nav {
    @include media('<lg') {
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto;
    }
  }
  &__arrow {
    width: 69px;
    height: 69px;
    background-color: transparent;
    background-size: contain;
    position: absolute;
    top: 43%;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0;
    transition: box-shadow 0.3s ease;
    @include media('<lg') {
      width: 50px;
      height: 50px;
      top: 0;
      position: relative;
      margin: 50px 0 30px;
    }
    @include media('<sm') {
      margin-top: 20px;
    }

    &:focus {
      outline: 0;
    }

    &:hover {
      box-shadow: 0 2px 30px 0 rgba(0,0,0,0.6);
    }

    &--prev {
      background-image: url(../svg/ico-arrow-left.svg);
      left: 7%;
      @include media('<xl') {
        left: 2%;
      }
      @include media('<lg') {
        left: 0;
      }
    }

    &--next {
      background-image: url(../svg/ico-arrow-right.svg);
      right: 7%;
      @include media('<xl') {
        right: 2%;
      }
      @include media('<lg') {
        right: 0;
      }
    }
  }
}
