/* ------------------------------------------ */
/*         STYLES COMPILED WITH SASS          */
/*      Naming conceptions of the files:      */
/*            BEM CSS METHODOLOGY:            */
/*            http://en.bem.info/             */
/* ------------------------------------------ */
/* -- Helpers -- */
/*
 * ----------------------------------------
 * FONTS
 *
 * Design has just one font loaded by @font-face
 * - Omnes (weight: 400, 500, 700)
 */
@font-face {
  font-family: 'Omnes';
  src: url("../fonts/Omnes/omnes-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Omnes/omnes-regular-webfont.woff") format("woff"), url("../fonts/Omnes/omnes-regular-webfont.ttf") format("truetype"), url("../fonts/Omnes/omnes-regular-webfont.svg#svgOmnes") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Omnes';
  src: url("../fonts/Omnes/omnes-medium-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Omnes/omnes-medium-webfont.woff") format("woff"), url("../fonts/Omnes/omnes-medium-webfont.ttf") format("truetype"), url("../fonts/Omnes/omnes-medium-webfont.svg#svgOmnes") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Omnes';
  src: url("../fonts/Omnes/omnes-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Omnes/omnes-bold-webfont.woff") format("woff"), url("../fonts/Omnes/omnes-bold-webfont.ttf") format("truetype"), url("../fonts/Omnes/omnes-bold-webfont.svg#svgOmnes") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

/*
 * ----------------------------------------
 * COLORS
 *
 * Colors in variables.
 * We have 7 recurrent colors:
 * - regular blue
 * - dark blue
 * - navy blue
 * - orange
 * - grey
 * - black
 * - white
 */
*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

li {
  list-style-type: none;
}

iframe, button {
  border: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
  min-width: auto;
}

.container {
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

p {
  margin: 5px 0;
}

em {
  font-style: normal;
  font-weight: 700;
}

/* -- Vendors -- */
/* -- Elements -- */
h1 {
  color: red;
}
